version: "3"

networks:
  music:

services:
  chartdb:
    container_name: chartdb
    image: mongo:latest
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - ./fixtures/data/db:/data/db
    command: mongod --logpath=/dev/null
    networks:
      - music

  chart-crawler:
    container_name: chart-crawler
    image: chart-crawler:latest
    depends_on: 
      - chartdb
    environment:
      - CHART_DB_ADDRESS=chartdb
    networks:
      - music
